numpy
torch~=1.7
opencv_python==4.*
scipy==1.*
loguru
scikit-image
tqdm
torchvision
Pillow
thop
ninja
tabulate
tensorboard

attrs
click
imageio
imageio-ffmpeg
jupyter
mlflow==1.14.1
pandas==1.1.5
six
s3path
aquabyte-lib[db,snowflake]>=0.5,<0.6
matplotlib
pycocotools