docutils==0.16
hydra-core>=1.1.0.dev5
omegaconf>=2.1.0.dev24
recommonmark==0.6.0
# https://github.com/sphinx-doc/sphinx/commit/7acd3ada3f38076af7b2b5c9f3b60bb9c2587a3d
sphinx==3.2.0
sphinx-markdown-tables==0.0.15
sphinx_rtd_theme
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
